{% extends 'base/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endblock %}
{% block title %}<title>Trace Hub</title>{% endblock %}    
{% block content %}
<
<div class="sidebar">
    <div class="sidebar-header">
        <span>Trace Hub</span>
        {% if request.user.is_authenticated %}
        <img src="{{ image }}" alt="GitHub 프로필 사진" width="25" height="25" style="border-radius: 50%;">
        {{username}}
        <button class="connect-button" 
                onclick="location.href='{% url 'logout' %}'">Logout</button>
        {% else %}
        <!-- 로그아웃 상태 -->
        <button class="connect-button" 
                onclick="location.href='{% url 'login' %}'">Login</button>
        {% endif %}
    </div>

    <div class="session-list">
        {% if sessions %}
            {% for session in sessions %}
                {{session.title}}
            {% endfor %}
        {% else %}
            <button class="connect-button">존재하는 세션이 없습니다!</button>
        {% endif %}
    </div>
    <div class="github-connect">
        <a href="{% url 'delete_message' %}" onclick="return confirm('대화를 정말 삭제하시겠습니까?');">
        <button class="connect-button" type="button">채팅 초기화</button>
        </a>
    </div>
</div>

<div class="main-content">
    <h2>Product Searcher</h2>
    <div class="chat-area">
        {% for msg in messages %}
            {% if msg.is_human %}
                <div class="user-box">{{msg.message}}</div>
            {% else %}
                <div class="chatbot-box">{{msg.message}}</div>
            {% endif %}
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
    <input type="text" class="input-box" name="input-box" placeholder="입력하세요" />
    <button class="connect-button" type="submit">전송</button>
    </form>
</div>
{% endblock %}