{% extends 'base/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endblock %}
{% block title %}<title>Trace Hub</title>{% endblock %}    
{% block content %}
<div class="sidebar">
    <div class="sidebar-header">
        <span>Trace Hub</span>
        {% if request.user.is_authenticated %}
        <img src="{{ image }}" alt="GitHub 프로필 사진" width="25" height="25" style="border-radius: 50%;">
        {{username}}
        <button class="connect-button" 
                onclick="location.href='{% url 'logout' %}'">Logout</button>
        {% else %}
        <!-- 로그아웃 상태 -->
        <button class="connect-button" 
                onclick="location.href='{% url 'login' %}'">Login</button>
        {% endif %}
    </div>

    <div class="session-list">
        {% if sessions %}
            {% for session in sessions %}
                {% if session.id == current_session.id %}
                    <a class="current-session" href="?session_id={{ session.id }}">
                        {{ session.title }}
                    </a>
                {% else %}
                    <a class="session-button" href="?session_id={{ session.id }}">
                        {{ session.title }}
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="session-no-message">존재하는 세션이 없습니다!</div>
        {% endif %}
    </div>
    <div class="github-connect">
        <a href="{% url 'delete_message' %}" onclick="return confirm('모든 대화를 정말 삭제하시겠습니까?');">
        <button class="connect-button" type="button">모든 채팅 초기화</button>
        </a>
        <a href="{% url 'add_session' %}" onclick="return confirm('새 채팅을 추가하시겠습니까?');">
        <button class="connect-button" type="button">새 채팅</button>
        </a>
    </div>
</div>

<div class="main-content">
    <h2>Product Searcher</h2>
    <div class="chat-area">
        {% for msg in messages %}
            {% if msg.role == "human" %}
                <div class="user-box">{{msg.content}}</div>
            {% else %}
                <div class="chatbot-box">{{msg.content}}</div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- 여기서 중요점! post방식을 쓸때 action을 정의하지 않으면 현재 보고 있는 페이지 URL
        즉 파라미터 ?session_id......까지도 전달이 된다!-->
    <form method="post">
        {% csrf_token %}
    <input type="text" class="input-box" name="input-box" placeholder="입력하세요" />
    <button class="connect-button" type="submit">전송</button>
    </form>
</div>
{% endblock %}