django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
python-dotenv
langgraph-supervisor
langgraph
langchain_community
langchain_openai
langchain-core
aiohttp
langchain-mcp-adapters
langgraph-sqlite
