Django>=5.2
djangorestframework>=3.14.0
django-cors-headers>=4.3.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
djangorestframework-simplejwt
pgvector
langgraph_sdk
uvicorn
gunicorn
openai
boto3
django-storages
Pillow
requests
python-dotenv