{% extends 'base/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/product_html.css' %}"> {% endblock %}
{% block title %}<title>AI Train 이용 방법</title>{% endblock %}    
{% block content %}
<h1>AI Train 이용 방법</h1>
<h2>서비스 신청</h2>
<hr>

<p>
    AI Train는 D1 플랫폼의 DX-DCN-CJ 존에서만 제공됩니다.<br>
    상품 신청 시 최초 1회는 신규 존(DX-DCN-CJ)을 생성하는 과정이 필요합니다.<br><br>
    콘솔 상단 'Platform' 메뉴를 클릭합니다.
</p>

<img src="/static/images/ai_serv_use1.png" alt="AI Train 이용 방법 1" width="600"><br>

<p>화면에서 D1 플랫폼과 그 하위의 DX-DCN-CJ존을 선택한 후 '신청' 버튼을 클릭합니다.</p>

<img src="/static/images/ai_serv_use2.png" alt="AI Train 이용 방법 2" width="600"><br>

<p>D1 플랫폼의 DCN-CJ 존 최초 신청을 위한 화면으로 넘어가고, 'DCN-CJ 신청하기' 버튼을 클릭하여 존을 생성합니다.
    존 생성은 통상 약  5분이 소요되며, 존 생성이 완료된 후 다음 단계를 진행합니다.</p>
    
<img src="/static/images/ai_serv_use3.png" alt="AI Train 이용 방법 3" width="600"><br>

<p>좌측 메뉴 상단의 ‘+All Services’ 에서 “서비스 신청” 버튼을 클릭 후 AI Train상품에 대해 “신청하기”를 클릭해서  상품을 신청합니다.</p>
    
<img src="/static/images/ai_train_use1.png" alt="AI Train 이용 방법 4" width="600"><br>

<p>이제 좌측 서비스 탭에서 AI Train를 이용할 수 있습니다.</p>

<img src="/static/images/ai_train_use2.png" alt="AI Train 이용 방법 5" width="300" height="400">



{% endblock %}