{% extends 'base/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/product_html.css' %}"> {% endblock %}
{% block title %}<title>클린존 FAQ</title>{% endblock %}    
{% block content %}

<h1>클린존 FAQ</h1>
<h2>FAQ</h2>
<hr>
<h3>Q. 서비스를 가입할 수 있는 대상이 어떻게 되나요?</h3>
<div style="background-color: #f0f8ff; padding: 16px; border-radius: 8px; line-height: 1.6;">
    <li>kt cloud를 이용중인 고객님들께서 가입하실 수 있습니다.</li>
</div> 
<h3>Q. DDoS 공격 모의훈련을 지원하나요?</h3>
<div style="background-color: #f0f8ff; padding: 16px; border-radius: 8px; line-height: 1.6;">
    <li>추가 요금이 과금 될 수 있으며, 별도 협의 후 지원합니다.</li>
</div>
<h3>Q. 일간/월간 등 정기보고서와 공격대응보고서는 지원하나요?</h3>
<div style="background-color: #f0f8ff; padding: 16px; border-radius: 8px; line-height: 1.6;">
    <li>추가 요금이 과금 될 수 있으며, 별도 협의 후 지원합니다.</li>
</div>
<h3>Q. 글로벌 탐지/차단 정책이 아닌 고객 전용의 커스텀 정책을 설정 할 수 있나요?</h3>
<div style="background-color: #f0f8ff; padding: 16px; border-radius: 8px; line-height: 1.6;">
    <li>추가 요금이 과금 될 수 있으며, 별도 협의 후 지원합니다.</li>
</div>
<h3>Q. 공격 발생 시 자동대응이 아닌 담당자 통보 후 대응도 지원하나요?</h3>
<div style="background-color: #f0f8ff; padding: 16px; border-radius: 8px; line-height: 1.6;">
    <li>kt cloud 기본 대응 정책은 자동대응 입니다.</li>
    <li> 담당자 통보 후 대응 등 고객 맞춤형 대응이 필요할 경우 추가 요금이 과금 될 수 있으며, 별도 협의 후 지원합니다.</li>
</div>
<h3>Q. 고객이 직접 장비에 접근하여 모니터링 할 수 있나요?</h3>
<div style="background-color: #f0f8ff; padding: 16px; border-radius: 8px; line-height: 1.6;">
    <li>Cloud 클린존 서비스는 고객의 콘솔 접근을 지원하지 않습니다.</li>
</div>
<h3>Q. 탐지 로그(raw_data)를 받고 싶습니다. 가능한가요?</h3>
<div style="background-color: #f0f8ff; padding: 16px; border-radius: 8px; line-height: 1.6;">
    <li>공격 발생 시 E_mail로 발송되는 내용 외 상세 로그(raw_data)는 지원하지 않습니다.</li>


{% endblock %}